<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group whitestudioteam-terminal">
  <p><strong>user@terminal:</strong>~$ Type <code>help</code> to list available commands</p>

  <div class="terminal-output" id="terminal-output"></div>

 <p class="whitestudioteam-input-wrapper">
  <strong>user@terminal:</strong>~$
  <input id="terminal-input" type="text" autocomplete="off" placeholder="Type command..." />
</p>
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- /wp:group -->




