<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group test-front-page" style="font-family:'Courier New',monospace;padding:2rem;">
  <p><strong>user@terminal:</strong>~$ Type <code>help</code> to list available commands</p>

  <div class="terminal-output" id="terminal-output" style="white-space: pre-wrap;"></div>

 <p style="display:flex;align-items:center;">
  <strong>user@terminal:</strong>~$
  <input id="terminal-input" type="text" autocomplete="off" style="width:90%; margin:0px 5px" placeholder="Type command..." />
</p>
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- /wp:group -->




