<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group test-front-page" style="background-color:#000000;color:#00ff00;font-family:'Courier New',monospace;padding:2rem;">
  <p><strong>user@terminal:</strong>~$ {{ __( 'Type <code>help</code> to list available commands', 'terminal-theme' ) }}</p>

  <div class="terminal-output" id="terminal-output" style="white-space: pre-wrap;"></div>

 <p style="display:flex;align-items:center;">
  <strong>user@terminal:</strong>~$
  <input id="terminal-input" type="text" autocomplete="off" style="background:none;border:none;color:#00ff00;width:90%; margin:0px 5px" placeholder="{{ __( 'Type command...', 'terminal-theme' ) }}" />
</p>
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- /wp:group -->




