
<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group whitestudioteam-terminal">
  <!-- wp:post-title /-->
  <!-- wp:post-content /-->

  <!-- wp:comments -->
  <div class="wp-block-comments">
    <!-- wp:comments-title /-->
    <!-- wp:comment-template /-->
    <!-- wp:comments-pagination /-->
    <!-- wp:post-comments-form /-->
  </div>
  <!-- /wp:comments -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
